.DS_Store
Thumbs.db

.idea/
*.sln.iml

bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.csproj.user
*.csproj.FileListAbsolute.txt

.vscode/
*.userprefs

# Logs & Debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp

Migrations/

.idea/modules.xml
.idea/.idea.Api.dir/

Dockerfile
docker-compose.yml
.dockerignore

appsettings.json
appsettings.Development.json
secrets.json
.env

wwwroot/
node_modules/
dist/

*.mdf
*.ldf
*.bak

packages/
project.lock.json
.nuget/

.idea/workspace.xml
.idea/sonarlint/

*.DotSettings.user

.idea/

.qodo